.App {
	margin: auto;
	width: 50%;
}

legend {
	text-align: center;
}

ul {
	text-align: start;
	padding-left: 0.85em;
}

.error {
	font-size: 12px;
	margin-left: 5px;
	color: #f44336;
	display: none;
}
